.header
{
    padding-top: 0;
    padding-bottom: 0;
    background-color:#00758B;
    color: #fff;
}

.responsiveButton {
    border:0;
}

.responsiveButton:focus {
    border:0;
    box-shadow: none;
}